body{
  font-family: 'Open Sans', sans-serif;
}
html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
.header__logo-img{
  padding: 0;
  margin-top:15px ;
}
.header__logo-text{
 
}
.header{
  position: fixed;
  width: 100%;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.header__inner{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 75px;
  margin-top: 15px;
}
.header__logo{ 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo-link{
  text-decoration: none;
}

.header__logo-text{
  margin-left: 15px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 60px;
text-transform: uppercase;
color: #F7F7F7;
}
.header__menu{
  display: flex;
  
}
.header__menu-list{
 display: flex;
 align-items: center;
}
.header__menu-search{
  padding-top: 30px;
}
.header__menu-item{
  margin-right: 61px;
  font-size: 23px;
  color: #F7F7F7; 
  line-height: 60px;
  
}

.header__menu-item:hover{
  border-bottom: 1px solid white;
  color: blue;
  cursor: pointer;
}
.header__menu-item-button{
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 27px;
line-height: 27px;
align-items: center;
text-align: center;

}
.header__menu-button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: Roboto;
color: #F7F7F7;
border: 2px solid #CD6326;
padding: 12px 13px;
border-radius: 5px;
}

.header__menu-link{
  text-decoration: none;
}


.header__menu-button:hover{
  background-color:orange ; 
  
}
.header__menu-button:active{
  background-color:burlywood;
}
.survial{
  height: 780px;
  background: url(../img/Rectangle.png) no-repeat center;
  background-size: cover;
  padding-top: 200px;
}
.survial__title{
  font-size: 48px;
line-height: 72px;
letter-spacing: 2px;
color: #CD6326;
margin-bottom: 51px;
}
.survial__subtitle{
  font-family: "Open Sans";
font-style: normal;
font-weight: normal;
  font-size: 18px;
line-height: 27px;
color: #F7F7F7;
width: 274px;
margin-bottom: 50px;
}
.survial__button{
  background: #CD6326;
  border-radius: 5px;
  padding: 16px 42px;
  border:  1px solid  #CD6326;
}
.survial__button-text{
  font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 27px;
text-align: center;
color: #F7F7F7;
}
.survial__button:hover{
  background-color: yellow;
}
.survial__button:active{
  background-color: brown;
}
.latest-articles{
  background: #CCCCCC;
  height: 1368px;
  position: relative;
}
.latest-articles__title{
  padding-top: 120px;
  font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 72px;
text-align: center;
color: #333333;
margin-bottom: 20px;
}
.latest-articles__subtitle{
font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #666666;
margin-bottom: 120px;
}
.latest-articles__cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.latest-articles__cards-img{
  margin-right: 65px;
  position: relative;
}
.img_title{
  position: absolute;
  left: 184px;
  top: 247;
  font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 36px;
text-align: center;
color: #F7F7F7;   
}
.latest-articles__cards-img-subtitle{

}
